.is-primary {
  background: var(--primary) !important;
  border: none!important;
}
.is-primary:hover {
  background: var(--primary-hover) !important;
}
.is-border-primary {
  background: transparent!important;
  border: 2px solid var(--primary)!important;
}
.is-border-primary:hover{
    background: transparent!important;
    border: 2px solid var(--primary-dark)!important;
}
.is-primary-gradient {
  background: radial-gradient(circle, var(--blue) 0%, var(--blue-dark) 100%)!important;
  border: none!important;
}
.is-primary-gradient:hover{
    background: radial-gradient(circle, var(--blue-dark) 0%, var(--blue-hover) 100%)!important;
}
.is-cancel {
  background: var(--secondary) !important;
}
.is-cancel:hover {
  background: var(--secondary-hover) !important;
}
.is-loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}
.is-loading::after {
  -webkit-animation: spinAround 0.5s infinite linear;
  animation: spinAround 0.5s infinite linear;
  border: 3px solid white;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

@keyframes spinAround {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
