:root{
    --primary: #36ad7b;
    --primary-hover: #319c6f;
    --primary-dark: #29825c;
    --primary-light: #ebf7f2;

    --secondary: #dc4e4e;
    --secondary-hover: #c64646;
    --secondary-dark: #a53b3b;
    --secondary-light: #fceded;

    --blue: #177093;
    --blue-hover: #156584;
    --blue-dark: #11546e;
    --blue-light: #e8f1f4;

    --yellow: #f9d923;
    --yellow-hover: #e0c320;
    --yellow-dark: #bba31a;
    --yellow-light: #fefbe9;

    --unable: #d9d9d9;
    --white: #fbfbfb;
    --black: #4c4c4c;
}