@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");
@import url("../src/assets//css/variables.css");
@import url("../src/assets/css/utilities.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
body,html{
  scroll-behavior: smooth;
}
button{
  color: var(--white);
}



